@page "/employees"
@using Microsoft.EntityFrameworkCore
@using PharmacyDBMS.Data
@inject IDbContextFactory<PharmacyContext> PharmacyContextFactory;

<PageTitle>Employees</PageTitle>

<h1>Employees</h1>


@if (@ShowCreate)
{
    <div>
        <input type="text" placeholder="Enter Employee Name" @bind="findName" />
        <button class="btn btn-primary" @onclick="FindEmployees">Find Employee</button>
        
    </div>

    <h3>Add a New Employee</h3>
    <div class="row">
        <label for="Name" class="col-4 col-form-label">Full Name</label>
        <div class="col-8">
            <input id="Name" name="Name" type="text" class="form-control" @bind="@NewEmployee.Name">
        </div>
    </div>
    <div class="row">
        <label for="HashedPassword" class="col-4 col-form-label">Password</label>
        <div class="col-8">
            <input id="HashedPassword" name="HashedPassword" type="password" class="form-control" @bind="@NewEmployee.HashedPassword">
        </div>
    </div>
    <div class="row">
        <label for="Email" class="col-4 col-form-label">Email Address</label>
        <div class="col-8">
            <input id="Email" name="Email" type="email" class="form-control" @bind="@NewEmployee.Email">
        </div>
    </div>
    <div class="row">
        <label for="PhoneNumber" class="col-4 col-form-label">Phone Number</label>
        <div class="col-8">
            <input id="PhoneNumber" name="PhoneNumber" type="text" class="form-control"
                   placeholder="Enter phone number (e.g. 555-123-4567)"
                   pattern="[0-9]{3}-[0-9]{4}"
                   title="Phone number format: XXX-XXX-XXXX"
                   maxlength="12"
               @bind="@NewEmployee.PhoneNumber">
        </div>
    </div>
    <div class="form-group row">
        <label for="Position" class="col-4 col-form-label">Permission Level</label>
        <div class="col-8">
            <input id="Position" name="Position" type="number" class="form-control" @bind="@NewEmployee.Position">
        </div>
    </div>
    <div class="form-group row">
        <label for="Salary" class="col-4 col-form-label">Salary</label>
        <div class="col-8">
            <input id="Salary" name="Salary" type="number" class="form-control" @bind="@NewEmployee.Salary">
        </div>
    </div>
    <div class="form-group row">
        <label for="supervisor" class="col-4 col-form-label">Supervisor</label>
        <div class="col-8">
            <input id="supervisor" name="supervisor" type="text" class="form-control" @bind="@NewEmployee.supervisor">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary" @onclick="InsertNewEmployee">Submit</button>
        </div>
    </div>

}
else
{
    // searchbar 
    <div>
        <input type="text" placeholder="Enter Employee Name" @bind="findName" />
        <button class="btn btn-primary" @onclick="FindEmployees">Find Employee</button>
        <button class="btn btn-primary" @onclick="ShowEmployees">Clear Search</button>
    </div>

    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary" @onclick="ShowCreateForm">Add a New Employee</button>
        </div>
    </div>

    @if (@ReadEmployees is not null && @ReadEmployees.Count > 0)
    {
        // display
        

        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-light border-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">Position</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Supervisor</th>
                        <th scope="col">Edit</th>
                        
                    </tr>
                </thead>
                <tbody>

                    @foreach (var employee in @ReadEmployees)
                    {
                        @if (!@EditRecord)
                        {
                            <tr>
                                <th scope="row">@employee.Id</th>
                                <td>@employee.Name</td>
                                <td>@employee.Email</td>
                                <td>@employee.PhoneNumber</td>
                                <td>@employee.Position</td>
                                <td>@employee.Salary</td>
                                <td>@employee.supervisor</td>
                                <td>
                                    <button name="submit" type="submit" class="btn btn-primary" @onclick="() => ShowEditForm(employee)">Edit</button>
                                </td>
                                <td></td>
                            </tr>
                        }

                        else
                        {

                            if (@EmployeeToUpdate is not null && @EmployeeToUpdate.Id == @employee.Id)
                            {

                                // password is not editable as a security measure
                                // if you want to edit it that means you want to reverse a hash function, which is not possible because
                                // then it will not be a hash function anymore
                                // as such , this is a security measure, security can get in the way

                                <tr>
                                    <th scope="row">@employee.Id</th>
                                    <td><input id="Name" name="Name" type="text" class="form-control" @bind="@EmployeeToUpdate.Name" /></td>
                                    <td><input id="Email" name="Email" type="text" class="form-control" @bind="@EmployeeToUpdate.Email" /></td>
                                    <td><input id="PhoneNumber" name="PhoneNumber" type="text" class="form-control" @bind="@EmployeeToUpdate.PhoneNumber" /></td>
                                    <td><input id="Position" name="Position" type="text" class="form-control" @bind="@EmployeeToUpdate.Position" /></td>
                                    <td> <input id="Salary" name="Salary" type="text" class="form-control" @bind="@EmployeeToUpdate.Salary" /></td>
                                    <td> <input id="supervisor" name="supervisor" type="text" class="form-control" @bind="@EmployeeToUpdate.supervisor" /></td>
                                    <td> <button name="submit" type="submit" class="btn btn-primary" @onclick="@EditEmployee">Save</button></td>
                                    <td>
                                        <button name="submit" type="submit" class="btn btn-primary" @onclick="() => DeleteEmployee(employee)">Delete</button>
                                    </td>
                                </tr>


                            }
                            else
                            {
                                <tr>
                                    <th scope="row">@employee.Id</th>
                                    <td>@employee.Name</td>
                                    <td>@employee.Email</td>
                                    <td>@employee.PhoneNumber</td>
                                    <td>@employee.Position</td>
                                    <td>@employee.Salary</td>
                                    <td>@employee.supervisor</td>
                                    <td>
                                        <button name="submit" type="submit" class="btn btn-primary" @onclick="() => ShowEditForm(employee)">Edit</button>
                                    </td>
                                    <td></td>
                                </tr>


                            }







                        }

            }
                </tbody>
            </table>
        </div>

    }

}

@code {
  
}

